<a href="https://colab.research.google.com/github/PurushothamNaidu143/Machine-Learning-models/blob/main/KNN_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**classifying a customer as if he/she buys or not an Iphone using KNN**

**Importing necessary libraries**

In [86]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt

**loading data and preprocessing it**

In [ ]:
pd.set_option('display.width', 1000)
df=pd.read_csv("/content/drive/MyDrive/Book1.csv")
print(df)

     Gender     Age  Salary  Purchase Iphone  Unnamed: 4
0       181  Female      31            34000           0
1       182    Male      26            16000           0
2       183  Female      31            71000           0
3       184  Female      32           117000           1
4       185    Male      33            43000           0
..      ...     ...     ...              ...         ...
216     397  Female      46            41000           1
217     398    Male      51            23000           1
218     399  Female      50            20000           1
219     400    Male      36            33000           0
220     401  Female      49            36000           1

[221 rows x 5 columns]

In [ ]:
df.columns

Index(['Gender', 'Age', 'Salary', 'Purchase Iphone', 'Unnamed: 4'], dtype='object')

In [ ]:
df = df.drop('Gender', axis=1)
new_column_names={'Age':'Gender','Salary':'Age','Purchase Iphone':'Salary','Unnamed: 4':'Purchased or not'}
df=df.rename(columns=new_column_names)
df

     Gender  Age  Salary  Purchased or not
0    Female   31   34000                 0
1      Male   26   16000                 0
2    Female   31   71000                 0
3    Female   32  117000                 1
4      Male   33   43000                 0
..      ...  ...     ...               ...
216  Female   46   41000                 1
217    Male   51   23000                 1
218  Female   50   20000                 1
219    Male   36   33000                 0
220  Female   49   36000                 1

[221 rows x 4 columns]

**converting gender column into numerical value**

In [ ]:
lm=LabelEncoder()

In [ ]:
df["Gender"]=lm.fit_transform(df["Gender"])
df

     Gender  Age  Salary  Purchased or not
0         0   31   34000                 0
1         1   26   16000                 0
2         0   31   71000                 0
3         0   32  117000                 1
4         1   33   43000                 0
..      ...  ...     ...               ...
216       0   46   41000                 1
217       1   51   23000                 1
218       0   50   20000                 1
219       1   36   33000                 0
220       0   49   36000                 1

[221 rows x 4 columns]

**feature sets**

In [49]:
x=df[["Gender","Age","Salary"]].values
y=df[["Purchased or not"]].values
y=y.ravel()

**Splitting and normalizing the data**

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [53]:
s=StandardScaler()
x_train=s.fit_transform(x_train)
x_test=s.transform(x_test)

**developing a model**

In [100]:
k=6
model=KNeighborsClassifier(k)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(metrics.confusion_matrix(y_test,y_pred))

[[19  4]
 [ 0 22]]

**Evaluating the model**

In [79]:
print(metrics.accuracy_score(y_test,y_pred))

0.9111111111111111

In [80]:
print(metrics.precision_score(y_test,y_pred))

0.8461538461538461

In [81]:
print(metrics.recall_score(y_test,y_pred))

1.0